@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "League Spartan", sans-serif !important; */
  /* font-family: "Poppins", sans-serif !important; */
  /* font-family: "Lato", sans-serif !important; */


  font-family: "Montserrat", sans-serif !important;
}

.pointer {
  cursor: pointer !important;
}

.activee {
  text-decoration: none;
  /* Remove underline */
  font-weight: bold;
  /* Optionally change font weight for active link */
  background: linear-gradient(to right,
      #7a45fb,
      /* #764aaf67, */
      #de41b5);
  /* Gradient background */
  -webkit-background-clip: text;
  /* Clip text to the background area */
  -webkit-text-fill-color: transparent;
  /* Fill text with the background color */
  transition: all 0.3s ease-in-out;
}

.active {
  /* background: linear-gradient(90deg, #5a47b2 50%, #6342ac 50%);
  color: #fff;
  font-weight: 600 !important; */
  background: linear-gradient(90deg, #5a47b2 50%, #6342ac 50%);
  color: #fff;
  font-weight: 600 !important;
  border-radius: 4px;
  padding-left: 4px;
}

.custom-active {
  background: transparent;
  color: #fff;
  font-weight: 600 !important;
}

a.single.active {
  border-left: 2px solid #fff;
  background: linear-gradient(90deg, rgba(55, 37, 234, 0.6) 0%, rgba(94, 15, 205, 0.6) 100%);
}

.chakra-accordion__item.css-1t7rcca:has(.active) {
  background: linear-gradient(90deg, rgba(55, 37, 234, 0.6) 0%, rgba(94, 15, 205, 0.6) 100%);
  border-left: 2px solid #fff;
}

/* .chakra-accordion__item .link:hover{
  background:transparent !important;
} */
.link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
}

.link:hover {
  background-color: #947ea56e !important;
  /* color: #fff; */
  /* background-color: #e2e8f01c !important; */
}

.active:hover {
  background-color: #947ea56e !important;
  /* color: #fff; */
  /* background-color: #ced8e6a2 !important; */
}

.header-icon .active:hover {
  background-color: transparent !important;
  /* color: #fff; */
  /* background-color: #ced8e6a2 !important; */
}



.web-text-small {
  font-size: 12px !important;
}

.web-text-xxsmall {
  font-size: 9px !important;
}

.web-text-xsmall {
  font-size: 11px !important;
}

.web-text-medium {
  font-size: 13px !important;
}

.web-text-large {
  font-size: 15px !important;
}

.rubix-text-dark {
  color: #000000;
}

.arrow-button {
  transition: all 0.5s;
}

.arrow-button:active {
  background: #fff;
}

.arrow-button:focus {
  background: #fff;
}

.arrow-button:hover {
  background: linear-gradient(90deg, #de41b5 0%, #7a45fb 100%);
}

.greeting {
  text-decoration: none;
  /* Remove underline */
  font-weight: bold;
  /* Optionally change font weight for active link */
  background: linear-gradient(to right,
      #7a45fb,
      #de41b5);
  /* Gradient background */
  -webkit-background-clip: text;
  /* Clip text to the background area */
  -webkit-text-fill-color: transparent;
  /* Fill text with the background color */
  transition: all 0.3s ease-in-out;
}

.primary-btn {
  background-color: #210A33 !important;
}

.team-slider .swiper-button-next:after {
  position: absolute;
  top: 185px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  right: 110px;
  background-image: radial-gradient(circle,
      #ffffff,
      #eee2f2,
      #e7c3dc,
      #e5a3ba,
      #de858e);
}

.team-slider .swiper-button-prev:after {
  position: absolute;
  top: 185px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  left: 110px;
  background-image: radial-gradient(circle,
      #ffffff,
      #eee2f2,
      #e7c3dc,
      #e5a3ba,
      #de858e);
}

.text-animate {
  animation-name: text;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

.table-scroll::-webkit-scrollbar {
  width: 2px !important;
  height: 10px !important;
}

/* Total scrollbar width */
::-webkit-scrollbar {
  width: 2px;
  height: 12px;
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

/* The draggable scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #0041184f;
  border-radius: 0px;
  cursor: grabbing;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #0041189a;
}




#google_translate_element {
  /* display: none; Hide the default Google Translate dropdown */

  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}

.goog-te-banner-frame {
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}


@keyframes text {
  0% {
    color: #DE858E;
    /* margin-bottom: -40px; */
  }

  30% {
    letter-spacing: 10px;
    /* margin-bottom: -40px; */
  }

  85% {
    letter-spacing: 8px;
    /* margin-bottom: -40px; */
  }

  100% {
    /* margin-bottom: 20px; */
  }
}

.rotate {
  animation: animName 10s linear infinite;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 10px;
}

.lds-ellipsis div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 16px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 20px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 22px !important;
  }
}





/* ========= [ switch BTN ============ */



/* From Uiverse.io by Nawsome */
.switch {
  display: block;
  background-color: black;
  width: 85px;
  height: 115px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0 1px 2px black, inset 0 2px 2px -2px white, inset 0 0 2px 15px #47434c, inset 0 0 2px 22px black;
  border-radius: 5px;
  padding: 20px;
  perspective: 700px;
}

.switch input {
  display: none;
}

.switch input:checked+.button {
  transform: translateZ(20px) rotateX(25deg);
  box-shadow: 0 -10px 20px #ff1818;
}

.switch input:checked+.button .light {
  animation: flicker 0.2s infinite 0.3s;
}

.switch input:checked+.button .shine {
  opacity: 1;
}

.switch input:checked+.button .shadow {
  opacity: 0;
}

.switch .button {
  display: block;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  transform-origin: center center -20px;
  transform: translateZ(20px) rotateX(-25deg);
  transform-style: preserve-3d;
  background-color: #9b0621;
  height: 100%;
  position: relative;
  cursor: pointer;
  background: linear-gradient(#980000 0%, #6f0000 30%, #6f0000 70%, #980000 100%);
  background-repeat: no-repeat;
}

.switch .button::before {
  content: "";
  background: linear-gradient(rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.3) 30%, #650000 75%, #320000) 50% 50%/97% 97%, #b10000;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: rotateX(-90deg);
  position: absolute;
  top: 0;
}

.switch .button::after {
  content: "";
  background-image: linear-gradient(#650000, #320000);
  width: 100%;
  height: 58px;
  transform-origin: top;
  transform: translateY(50px) rotateX(-90deg);
  position: absolute;
  bottom: 0;
  box-shadow: 0 50px 8px 0px black, 0 80px 20px 0px rgba(0, 0, 0, 0.5);
}

.switch .light {
  opacity: 0;
  animation: light-off 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#ffc97e, #ff1818 40%, transparent 70%);
}

.switch .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 30%, rgba(101, 0, 0, 0.7) 70%);
  background-size: 10px 10px;
}

.switch .characters {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, white) 50% 20%/5% 20%, radial-gradient(circle, transparent 50%, white 52%, white 70%, transparent 72%) 50% 80%/33% 25%;
  background-repeat: no-repeat;
}

.switch .shine {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%, linear-gradient(rgba(255, 255, 255, 0.5), transparent 50%, transparent 80%, rgba(255, 255, 255, 0.5)) 50% 50%/97% 97%;
  background-repeat: no-repeat;
}

.switch .shadow {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes light-off {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}